# LAB-1

# 1-1

In [57]:
message = "Hi, just checking in. Let me know if you need anything!"
print(message)

Hi, just checking in. Let me know if you need anything!

# 1-2

In [4]:
m1 = "Hi, just checking in. Let me know if you need anything!"
print(m1)
new_message = "Let me know if you need anything!"
m1 = new_message
print(m1)

Hi, just checking in. Let me know if you need anything!
Let me know if you need anything!

# 1-3

In [60]:
personal_name  = "hi Ghayur_Abbas, how  are you, i am sure you are doing well!"
print(personal_name)

hi Ghayur_Abbas, how  are you, i am sure you are doing well!

# 1-4

In [61]:
n = "Ghayur_Abbas"
print(n.upper())
print(n.lower())
print(n.title())

GHAYUR_ABBAS
ghayur_abbas
Ghayur_Abbas

# 1-5

In [13]:
Quotation = "Albert Einstein Once Said, 'A Person who never made a mistake never tried anything new'"
print(Quotation)

Albert Einstein Once Said, 'A Person who never made a mistake never tried anything new'

# 1-6

In [64]:
famous_person = "Quaid-e-Azam,"
message = "said 'Try Try Again'"
print(famous_person," ", message)

Quaid-e-Azam,   said 'Try Try Again'

# 1-7

In [30]:
name = "                         Ghayur\tAbbas\n"
print(name)
print(name.strip())
print(name.lstrip())
print(name.rstrip())

                         Ghayur	Abbas

Ghayur	Abbas
Ghayur	Abbas

                         Ghayur	Abbas

# 1-8

In [48]:
t_f = open('Rapunzel.txt')
txt_file = t_f.readlines()
suffix = '\n'
for s in txt_file:
    print(s.removesuffix(suffix))

There were once a man and a woman who had long in vain wished for a child. At length the woman hoped that God was about to grant her desire. These people had a little window at the back of their house from which a splendid garden could be seen, which was full of the most beautiful flowers and herbs. It was, however, surrounded by a high wall, and no one dared to go into it because it belonged to an enchantress, who had great power and was dreaded by all the world. One day the woman was standing by this window and looking down into the garden, when she saw a bed which was planted with the most beautiful rampion (rapunzel), and it looked so fresh and green that she longed for it, and had the greatest desire to eat some. This desire increased every day, and as she knew that she could not get any of it, she quite pined away, and looked pale and miserable. Then her husband was alarmed, and asked, What aileth thee, dear wife Ah, she replied, if I can't get some of the rampion, which is in the garden behind our house, to eat, I shall die. The man, who loved her, thought, Sooner than let thy wife die, bring her some of the rampion thyself, let it cost thee what it will. In the twilight of the evening, he clambered down over the wall into the garden of the enchantress, hastily clutched a handful of rampion, and took it to his wife. She at once made herself a salad of it, and ate it with much relish. She, however, liked it so muchâ€”-so very much, that the next day she longed for it three times as much as before. If he was to have any rest, her husband must once more descend into the garden. In the gloom of evening, therefore, he let himself down again; but when he had clambered down the wall he was terribly afraid, for he saw the enchantress standing before him. How canst thou dare, said she with angry look, to descend into my garden and steal my rampion like a thief Thou shalt suffer for it! Ah, answered he, let mercy take the place of justice, I only made up my mind to do it out of necessity. My wife saw your rampion from the window, and felt such a longing for it that she would have died if she had not got some to eat. Then the enchantress allowed her anger to be softened, and said to him, If the case be as thou sayest, I will allow thee to take away with thee as much rampion as thou wilt, only I make one condition, thou must give me the child which thy wife will bring into the world; it shall be well treated, and I will care for it like a mother. The man in his terror consented to everything, and when the woman was brought to bed, the enchantress appeared at once, gave the child the name of Rapunzel, and took it away with her.

Rapunzel grew into the most beautiful child beneath the sun. When she was twelve years old, the enchantress shut her into a tower, which lay in a forest, and had neither stairs nor door, but quite at the top was a little window. When the enchantress wanted to go in, she placed herself beneath it and cried,

Rapunzel, Rapunzel,
Let down your hair to me.

Rapunzel had magnificent long hair, fine as spun gold, and when she heard the voice of the enchantress she unfastened her braided tresses, wound them round one of the hooks of the window above, and then the hair fell twenty ells down, and the enchantress climbed up by it.

After a year or two, it came to pass that the King's son rode through the forest and went by the tower. Then he heard a song, which was so charming that he stood still and listened. This was Rapunzel, who in her solitude passed her time in letting her sweet voice resound. The King's son wanted to climb up to her, and looked for the door of the tower, but none was to be found. He rode home, but the singing had so deeply touched his heart, that every day he went out into the forest and listened to it. Once when he was thus standing behind a tree, he saw that an enchantress came there, and he heard how she cried,

Rapunzel, Rapunzel,
Let down your hair.

Then Rapunzel let down the braids of her hair, and the enchantress climbed up to her. If that is the ladder by which one mounts, I will for once try my fortune, said he, and the next day when it began to grow dark, he went to the tower and cried,

Rapunzel, Rapunzel,
Let down your hair.

Immediately the hair fell down and the King's son climbed up.

At first Rapunzel was terribly frightened when a man such as her eyes had never yet beheld, came to her; but the King's son began to talk to her quite like a friend, and told her that his heart had been so stirred that it had let him have no rest, and he had been forced to see her. Then Rapunzel lost her fear, and when he asked her if she would take him for her husband, and she saw that he was young and handsome, she thought, He will love me more than old Dame Gothel does; and she said yes, and laid her hand in his. She said, I will willingly go away with thee, but I do not know how to get down. Bring with thee a skein of silk every time that thou comest, and I will weave a ladder with it, and when that is ready I will descend, and thou wilt take me on thy horse. They agreed that until that time he should come to her every evening, for the old woman came by day. The enchantress remarked nothing of this, until once Rapunzel said to her, Tell me, Dame Gothel, how it happens that you are so much heavier for me to draw up than the young King's sonâ€”-he is with me in a moment. Ah! thou wicked child, cried the enchantress What do I hear thee say! I thought I had separated thee from all the world, and yet thou hast deceived me. In her anger she clutched Rapunzel's beautiful tresses, wrapped them twice round her left hand, seized a pair of scissors with the right, and snip, snap, they were cut off, and the lovely braids lay on the ground. And she was so pitiless that she took poor Rapunzel into a desert where she had to live in great grief and misery.

On the same day, however, that she cast out Rapunzel, the enchantress in the evening fastened the braids of hair which she had cut off, to the hook of the window, and when the King's son came and cried,

Rapunzel, Rapunzel,
Let down your hair,

she let the hair down. The King's son ascended, but he did not find his dearest Rapunzel above, but the enchantress, who gazed at him with wicked and venomous looks. Aha! she cried mockingly, Thou wouldst fetch thy dearest, but the beautiful bird sits no longer singing in the nest; the cat has got it, and will scratch out thy eyes as well. Rapunzel is lost to thee; thou wilt never see her more. The King's son was beside himself with pain, and in his despair he leapt down from the tower. He escaped with his life, but the thorns into which he fell, pierced his eyes. Then he wandered quite blind about the forest, ate nothing but roots and berries, and did nothing but lament and weep over the loss of his dearest wife. Thus he roamed about in misery for some years, and at length came to the desert where Rapunzel, with the twins to which she had given birth, a boy and a girl, lived in wretchedness. He heard a voice, and it seemed so familiar to him that he went towards it, and when he approached, Rapunzel knew him and fell on his neck and wept. Two of her tears wetted his eyes and they grew clear again, and he could see with them as before. He led her to his kingdom where he was joyfully received, and they lived for a long time afterwards, happy and contented.

# 1-9

In [55]:
a = "Ghayur'\ts   \n"
suffix = '\t'
print(a.removesuffix(suffix))

Ghayur'	s

# 1-10

In [65]:
a = 5
a = input('enter your favourite number')
print(a)

enter your favourite number 5

5

In [68]:
a = 5
a = 'my favourite number is: '+str(a)
print(a)

my favourite number is: 5

# LAB-2

# 2-1

In [72]:
names = ['ghayur','raza','wafadar','tasawar','abbasi']
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

ghayur
raza
wafadar
tasawar
abbasi

# 2-2

In [182]:
names = ['ghayur','raza','wafadar','tasawar','abbasi']
print('Hi',names[0],'how are you')
print('Hi',names[1],'how are you')
print('Hi',names[2],'how are you')
print('Hi',names[3],'how are you')
print('Hi',names[4],'how are you')

Hi ghayur how are you
Hi raza how are you
Hi wafadar how are you
Hi tasawar how are you
Hi abbasi how are you

# 2-3

In [187]:
frnds = ['Abbasi','Wafadar','Tasawar']
print('Most welcome to a dinner! ',frnds)

Most welcome to a dinner!  ['Abbasi', 'Wafadar', 'Tasawar']

In [199]:
frnds = ['Abbasi','Wafadar','Tasawar']
for i in frnds:
    print('Most welcome to a dinner! ',i)

Most welcome to a dinner!  Abbasi
Most welcome to a dinner!  Wafadar
Most welcome to a dinner!  Tasawar

# 2-4

In [201]:
frnds = ['Abbasi','Wafadar','Tasawar']
print('Most welcome to a dinner! ',frnds)
not_attend = str(frnds[1])+" i can feel your busy Schedule: so no issue if you are not caming "
print(not_attend)
frnds[1] = 'Raza'
print('my new invitation list is: ',frnds)
for i in frnds:
    print('i would be thankfull to you if you are coming',i)

Most welcome to a dinner!  ['Abbasi', 'Wafadar', 'Tasawar']
Wafadar i can feel your busy Schedule: so no issue if you are not caming
my new invitation list is:  ['Abbasi', 'Raza', 'Tasawar']
i would be thankfull to you if you are coming Abbasi
i would be thankfull to you if you are coming Raza
i would be thankfull to you if you are coming Tasawar

# 2-5

In [202]:
print(frnds)
print('there is a three furthur man places on my dinner table')
frnds.insert(0,'Kazim')
frnds.insert(2,'mazz')
frnds.append('waseem')
for i in frnds:
    print('i would be thankfull to you if you are coming',i)

['Abbasi', 'Raza', 'Tasawar']
there is a three furthur man places on my dinner table
i would be thankfull to you if you are coming Kazim
i would be thankfull to you if you are coming Abbasi
i would be thankfull to you if you are coming mazz
i would be thankfull to you if you are coming Raza
i would be thankfull to you if you are coming Tasawar
i would be thankfull to you if you are coming waseem

# 2-6

In [203]:
print(frnds)
print('Sorry! i can invite only two person for dinner')
print("Sorry! i can't invite you",frnds.pop())
print("Sorry! i can't invite you",frnds.pop())
print("Sorry! i can't invite you",frnds.pop())
print("Sorry! i can't invite you",frnds.pop())
print("you are still invited",frnds[0])
print("you are still invited",frnds[1])
del frnds[0:2]
print(frnds)

['Kazim', 'Abbasi', 'mazz', 'Raza', 'Tasawar', 'waseem']
Sorry! i can invite only two person for dinner
Sorry! i can't invite you waseem
Sorry! i can't invite you Tasawar
Sorry! i can't invite you Raza
Sorry! i can't invite you mazz
you are still invited Kazim
you are still invited Abbasi
[]

# 2-7

In [179]:
location = ['islam abad','murree','babusur top','kashmir','naran']
print(location)
sorted_list = sorted(location)
print(sorted_list)
print(location)
loc = sorted(location,reverse=True)
print(loc)
locc = sorted(loc)
print(locc)
location.sort()
print(location)
location.sort(reverse = True)
print(location)

['islam abad', 'murree', 'babusur top', 'kashmir', 'naran']
['babusur top', 'islam abad', 'kashmir', 'murree', 'naran']
['islam abad', 'murree', 'babusur top', 'kashmir', 'naran']
['naran', 'murree', 'kashmir', 'islam abad', 'babusur top']
['babusur top', 'islam abad', 'kashmir', 'murree', 'naran']
['babusur top', 'islam abad', 'kashmir', 'murree', 'naran']
['naran', 'murree', 'kashmir', 'islam abad', 'babusur top']

In [2]:
# 3-1

In [8]:
pizza = ['Margherita','Pepperoni','BBQ']
for i in pizza:
    print('i like '+i+' Piza')
print('classic pizza with tomato sauce, fresh mozzarella, and basil')
print('i really love pizza')

i like Margherita Piza
i like Pepperoni Piza
i like BBQ Piza
classic pizza with tomato sauce, fresh mozzarella, and basil
i really love pizza

In [9]:
# 3-2

In [17]:
animals = ['cow','sheep','goat']
for i in animals:
    print(i,'is a hilal aniaml')
print('any of these animal eat grass')

cow is a hilal aniaml
sheep is a hilal aniaml
goat is a hilal aniaml
any of these animal eat grass

In [19]:
n = range(21)
for i in n:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [20]:
n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in n:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [21]:
# 3-3

In [29]:
million_list = list(range(1,1000001))
print('min',min(million_list))
print('max',max(million_list))
print('sum',sum(million_list))

min 1
max 1000000
sum 500000500000

In [41]:
# 3-4

In [42]:
odd_num = range(1,20,2)
for i in odd_num:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [43]:
#3-4

In [58]:
mltp = list(range(3,31,3))
for i in mltp:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [64]:
# 3-5

In [65]:
l = list(range(1,11))
l2 = []
for i in l:
    i2 = i**3
    l2.append(i2)
print(l2)
for i in l2:
    print(i)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
1
8
27
64
125
216
343
512
729
1000

In [66]:
# 3-6

In [68]:
l_c = [i**3 for i in list(range(1,11))]
print(l_c)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [69]:
# 3-7

In [80]:
friend_pizza = pizza.copy()
friend_pizza.append('Hawaiian Pizza')
friend_pizza.append('Veggie Pizza ')
print(pizza)
print(friend_pizza)

['Margherita', 'Pepperoni', 'BBQ']
['Margherita', 'Pepperoni', 'BBQ', 'Hawaiian Pizza', 'Veggie Pizza ']

In [89]:
print('My favourite pizzas are: ')
l1 = []
for i in pizza:
    l1.append(i)
print(l1)
print('my friends favourite pizzas are: ')
l2 = []
for i in friend_pizza:
    l2.append(i)
print(l2)

My favourite pizzas are:
['Margherita', 'Pepperoni', 'BBQ']
my friends favourite pizzas are:
['Margherita', 'Pepperoni', 'BBQ', 'Hawaiian Pizza', 'Veggie Pizza ']

In [90]:
# 3-8

In [93]:
t = ('fish','mutton','beef')
for i in t:
    print(i)

fish
mutton
beef

In [96]:
t[0] = ('chicken',)
print(t)

TypeError: 'tuple' object does not support item assignment

In [100]:
t_l = list(t)
t_l[0:2] = ['biryani','sabzi']
t = tuple(t_l)
print(t)

('biryani', 'sabzi', 'beef')

# PythonRefresher4

In [101]:
# 4-1

In [124]:
alien_color = input("enter your color:[green','yellow','red']")
if alien_color == 'green':
    print('the player just earned the 5 points')
else:
    print('no output')

enter your color:[green','yellow','red'] green

the player just earned the 5 points

In [115]:
# 4-2

In [120]:
alien_color = input("enter your color:[green','yellow','red']")
if alien_color == 'green':
    print('the player just earned the 5 points')
else:
    print('the player just earned the 10 points')

enter your color:[green','yellow','red'] green

the player just earned the 5 points

In [118]:
# 4-3

In [123]:
alien_color = input("enter your color:[green','yellow','red']")
if alien_color == 'green':
    print('the player just earned the 5 points')
elif alien_color == 'yellow':
    print('the player just earned the 10 points')
elif alien_color == 'red':
    print('the player just earned the 15 points')

enter your color:[green','yellow','red'] green

the player just earned the 5 points

In [125]:
# 4-4

In [130]:
age = int(input("enter your age: "))
if age < 2:
    print("person is a baby")
elif age >= 2 and age < 4:
    print("peson is a toodler")
elif age >= 4 and age < 13:
    print("peson is a toodler")
elif age >=13 and age < 20:
    print("peson is a toodler")
elif age >= 20 and age < 65:
    print("peson is a toodler")
elif age >= 65:
    print("person is an elder")

enter your age:  20

peson is a toodler

In [131]:
# 4-5

In [137]:
fav_fruit = ['Apple','Mango','Banana']
if 'Apple' in fav_fruit:
    print('you really like Apple')
if 'Banana' in fav_fruit:
    print('you really like Banana')
if 'Mango' in fav_fruit:
    print('you really like Mango')
if 'pineapple' not in fav_fruit:
    print('you  did not like pineapple')
if 'orange' not in fav_fruit:
    print('you did not like orange')

you really like Apple
you really like Banana
you really like Mango
you  did not like pineapple
you did not like orange

In [138]:
# 4-6

In [145]:
username = ['admin','ghayur','tasawar','wafadar','raza']
for i in username:
    if i == 'admin':
        print('Hello',i,'would you like to see a status report')
    elif i == 'ghayur':
        print('Hello',i,'would you like to see a status report')
    elif i == 'tasawar':
        print('Hello',i,'would you like to see a status report')
    elif i == 'wafadar':
        print('Hello',i,'would you like to see a status report')
    elif i == 'raza':
        print('Hello',i,'would you like to see a status report')
    else:
        print(i,'thank you logging again')

Hello admin would you like to see a status report
Hello ghayur would you like to see a status report
Hello tasawar would you like to see a status report
Hello wafadar would you like to see a status report
Hello raza would you like to see a status report

In [146]:
username = ['admin','ghayur','tasawar','wafadar','raza']
for i in username:
    print('Hello',i,'would you like to see a status report')

Hello admin would you like to see a status report
Hello ghayur would you like to see a status report
Hello tasawar would you like to see a status report
Hello wafadar would you like to see a status report
Hello raza would you like to see a status report

In [147]:
# 4-7

In [161]:
username = []
if not username:
    print('we need to find some user')
else:
    for i in username:
        print('Hello',i,'would you like to see a status report')

we need to find some user

In [166]:
# 4-8

In [167]:
current_user = ["ghayur",'qayyum','hubdar','raza','kazim']
new_user = ['tasawar','wafadar','mazz',"ghayur",'qayyum']
for i in new_user:
    if i in current_user:
        print('the person need to enter a new user name')
    if i not in current_user:
        print('the user name is avaiable')

the user name is avaiable
the user name is avaiable
the user name is avaiable
the person need to enter a new user name
the person need to enter a new user name

In [168]:
#4-9

In [173]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    if i == 1:
        print(str(i)+'st')
    elif i == 2:
        print(str(i)+'nd')
    elif i == 3:
        print(str(i)+'rd')
    else:
        print(str(i)+'th')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

# PythonRefresher5

In [175]:
# 5-1

In [178]:
dict = {'first_name':'Ghayur','last_name':'Abbas','age':21,'city':'lahore'}
print(dict['first_name'])
print(dict['last_name'])
print(dict['age'])
print(dict['city'])

Ghayur
Abbas
21
lahore

In [179]:
print(dict)

{'first_name': 'Ghayur', 'last_name': 'Abbas', 'age': 21, 'city': 'lahore'}

In [180]:
# 5-2

In [188]:
dict = {'ghayur':int(input("enter favourite number: ")),'wafadar':int(input("enter favourite number: ")),'tasawar':int(input("enter favourite number: ")),'raza':int(input("enter favourite number: ")),'kazim':int(input("enter favourite number: "))}

enter favourite number:  5
enter favourite number:  12
enter favourite number:  14
enter favourite number:  72
enter favourite number:  110

In [187]:
print(dict)

{'ghayur': 5, 'wafadar': 12, 'tasawar': 14, 'raza': 72, 'kazim': 110}

In [189]:
# 5-3

In [207]:
glossary = {
    'function': 'A block of reusable code that performs a specific task',
    'loop': 'A way to repeatedly execute a block of code.',
    'list': "An ordered collection of values, which can be of different data types",
    'tuple': "An immutable ordered collection of values.",
    "dictionary":" A collection of key-value pairs."
}
print(glossary['function'])
print('\n')
print(glossary['loop'])
print('\n')
print(glossary['list'])
print('\n')
print(glossary['tuple'])
print('\n')
print(glossary['tuple'])

A block of reusable code that performs a specific task


A way to repeatedly execute a block of code.


An ordered collection of values, which can be of different data types


An immutable ordered collection of values.


An immutable ordered collection of values.

In [209]:
glossary = {
    'function': 'A block of reusable code that performs a specific task',
    'loop': 'A way to repeatedly execute a block of code.',
    'list': "An ordered collection of values, which can be of different data types",
    'tuple': "An immutable ordered collection of values.",
    "dictionary":" A collection of key-value pairs."
}
for key,values in glossary.items():
    print(key,'\n',values)

function
 A block of reusable code that performs a specific task
loop
 A way to repeatedly execute a block of code.
list
 An ordered collection of values, which can be of different data types
tuple
 An immutable ordered collection of values.
dictionary
  A collection of key-value pairs.

In [210]:
# 5-4

In [212]:
glossary = {
    'function': 'A block of reusable code that performs a specific task',
    'loop': 'A way to repeatedly execute a block of code.',
    'list': "An ordered collection of values, which can be of different data types",
    'tuple': "An immutable ordered collection of values.",
    "dictionary":" A collection of key-value pairs."
}
glossary['variable'] = "A name that refers to a value."
glossary['data type'] = "Declare the type of the data."
glossary['Array'] = "Array is used to store element of same type"

for key,values in glossary.items():
    print(key,'\n',values)

function
 A block of reusable code that performs a specific task
loop
 A way to repeatedly execute a block of code.
list
 An ordered collection of values, which can be of different data types
tuple
 An immutable ordered collection of values.
dictionary
  A collection of key-value pairs.
variable
 A name that refers to a value.
data type
 Declare the type of the data.
Array
 Array is used to store element of same type

In [213]:
# 5-5

In [216]:
dict = {'punjab':'multan','ravi':'lahore','sindh':'DG khan'}
for key,value in dict.items():
    print(key,'runs through',value)

punjab runs through multan
ravi runs through lahore
sindh runs through DG khan

In [224]:
for key,values in dict.items():
    print(key)

punjab
ravi
sindh

In [225]:
for key,values in dict.items():
    print(values)

multan
lahore
DG khan

In [226]:
# 5-6

In [240]:
dict1 = {'first_name':'Ghayur','last_name':'Abbas','age':21,'city':'lahore'}
dict2 = {'first_name':'Qlalandar','last_name':'Abbas','age':19,'city':'m garh'}
dict3 = {'first_name':'Tasawar','last_name':'Abbas','age':24,'city':'lahore'}
people = list((dict1,dict2,dict3))
print(people)
print('\n')
for i in people:
    print(i)

[{'first_name': 'Ghayur', 'last_name': 'Abbas', 'age': 21, 'city': 'lahore'}, {'first_name': 'Qlalandar', 'last_name': 'Abbas', 'age': 19, 'city': 'm garh'}, {'first_name': 'Tasawar', 'last_name': 'Abbas', 'age': 24, 'city': 'lahore'}]


{'first_name': 'Ghayur', 'last_name': 'Abbas', 'age': 21, 'city': 'lahore'}
{'first_name': 'Qlalandar', 'last_name': 'Abbas', 'age': 19, 'city': 'm garh'}
{'first_name': 'Tasawar', 'last_name': 'Abbas', 'age': 24, 'city': 'lahore'}

In [241]:
# 5-7

In [246]:
dict1 = {'Animal_name':'cow','owner_name':'Ghayur'}
dict2 = {'Animal_name':'sheep','owner_name':'raza'}
dict3 = {'Animal_name':'buffellow','owner_name':'qalandar'}
Animal = list((dict1,dict2,dict3))
print(Animal)
print('\n')
for i in Animal:
    print(i)

[{'Animal_name': 'cow', 'owner_name': 'Ghayur'}, {'Animal_name': 'sheep', 'owner_name': 'raza'}, {'Animal_name': 'buffellow', 'owner_name': 'qalandar'}]


{'Animal_name': 'cow', 'owner_name': 'Ghayur'}
{'Animal_name': 'sheep', 'owner_name': 'raza'}
{'Animal_name': 'buffellow', 'owner_name': 'qalandar'}

In [248]:
for i in Animal:
    print(i['owner_name'])

Ghayur
raza
qalandar

In [249]:
# 5-8

In [253]:
f1 = {'Ghayur Abbas':"Murree",'Tasawar Abbas':"Naran",'raza':input('enter you fav place'),'kazim':input('enter you fav place'),}
print(f1)

enter you fav place islam abad
enter you fav place kashmir

{'Ghayur Abbas': 'Murree', 'Tasawar Abbas': 'Naran', 'raza': 'islam abad', 'kazim': 'kashmir'}

In [254]:
# 5-9

In [10]:
dict = {'ghayur':[int(input("enter favourite number: ")),int(input('enter second number'))],'wafadar':int(input("enter favourite number: ")),'tasawar':int(input("enter favourite number: ")),'raza':int(input("enter favourite number: ")),'kazim':int(input("enter favourite number: "))}
print(dict)

enter favourite number:  1
enter second number 1
enter favourite number:  1
enter favourite number:  1
enter favourite number:  1
enter favourite number:  1

{'ghayur': [1, 1], 'wafadar': 1, 'tasawar': 1, 'raza': 1, 'kazim': 1}

In [11]:
# PythonRefresher 6

In [16]:
# 6-1

In [31]:
def make_shirt(size,text):
    print(f'the shirt size is {size}, and the text is {text}')
make_shirt('medium','this is baby shirt')

the shirt size is medium, and the text is this is baby shirt

In [18]:
# 6-2

In [34]:
def make_shirt(size = 'large shirt',text = 'i love python'):
    print(str(size),text)
make_shirt()

large shirt i love python

In [44]:
def make_shirt(size = 'medium shirt',text = 'i love coding'):
    print(f'{size},{text}')
make_shirt()
make_shirt(size = 'large shirt', text = 'Be calm')
make_shirt(size = 'medium shirt', text = 'Be Patience')

medium shirt,i love coding
large shirt,Be calm
medium shirt,Be Patience

In [58]:
# 6-3

In [59]:
def show_messages(lst):
    lst = ['my name is ghayur',
           'i am recently graduated from minhaj universty lahore',
           'i am from Muzaffar garh'
          ]
    print(lst)
show_messages(lst)

['my name is ghayur', 'i am recently graduated from minhaj universty lahore', 'i am from Muzaffar garh']

In [60]:
# 6-4

In [75]:
def insurance():
    replacement_cost = float(input('enter he/she their replacement cost'))
    per = replacement_cost*0.8
    print(per)
insurance()

enter he/she their replacement cost 500000

400000.0

In [68]:
replacement_cost = int(input('enter he/she their replacement cost'))
min_ins = replacement_cost*(80/100)
print(min_ins)

enter he/she their replacement cost 500000

400000.0

In [76]:
# 6-5

In [80]:
def monthly_costs():
    load_payment = float(input('enter your loan payment mount'))
    insurance = float(input('enter your insurance payment mount'))
    gas = float(input('enter your gas payment mount'))
    oil = float(input('enter your oil payment mount'))
    tier = float(input('enter your tier price'))
    maintainence = float(input('enter your maintainence amount'))
    monthly_cost = (load_payment+gas+insurance+oil+tier+maintainence)
    yearly_cost = (load_payment+gas+insurance+oil+tier+maintainence)*12
    print(monthly_cost)
    print(yearly_cost)
monthly_costs()

enter your loan payment mount 500000
enter your insurance payment mount 50000
enter your gas payment mount 50000
enter your oil payment mount 50000
enter your tier price 50000
enter your maintainence amount 50000

750000.0
9000000.0

In [85]:
#6-8

In [86]:
def actual_value():
    actual_value = float(input('enter the actual value'))
    assessment_value = actual_value*0.60
    property_tax = (assessment_value/100)*0.72
    print(assessment_value)
    print(property_tax)
actual_value()

enter the actual value 10000

6000.0
43.199999999999996

In [87]:
# 6-9

In [91]:
def calculation():
    fat_germs = float(input('enter your fat germs'))
    carbs_germs = float(input('enter your carbs germs'))
    cal_fat_germs = fat_germs*9
    cal_carbs_germs = carbs_germs*4
    total_calories = cal_fat_germs+cal_carbs_germs
    print("calories from fat germs",cal_fat_germs)
    print("calories from carb germs",cal_carbs_germs)
    print(total_calories)
calculation()

enter your fat germs 70
enter your carbs germs 250

calories from fat germs 630.0
calories from carb germs 1000.0
1630.0

In [92]:
# 6-10

In [1]:
def stadium_seats():
    class_A = 20
    class_B = 15
    Class_C = 10

In [2]:
# Function v2

In [3]:
# 7-1

In [9]:
def check_value():
    property_value = float(input('enter the property values in $:' ))
    assessment_value = property_value*(60/100)
    property_tax = (assessment_value/100)*0.72
    print(assessment_value,'$')
    print(property_tax,'$')
check_value()

enter the property values in $: 10000

6000.0 $
43.199999999999996 $

In [10]:
# 7-2

In [1]:
def painting(wall_space, paint_cost):
    total_gallon = wall_space/112
    total_hours = (wall_space/112)*8
    total_paint_cost = total_gallon*paint_cost
    labour_charges = total_hours*35
    total_cost = total_paint_cost + labour_charges
    print("total gallon used" ,total_gallon)
    print("total hours spend", total_hours)
    print("total pint cost", total_paint_cost)
    print("total labour charges", labour_charges)
    print("total costs", total_cost)
wall_space = int(input('enter the square feet of the wall: '))
paint_cost = int(input('enter the paint cost:' ))
painting(wall_space,paint_cost)

enter the square feet of the wall:  112
enter the paint cost: 20

total gallon used 1.0
total hours spend 8.0
total pint cost 20.0
total labour charges 280.0
total costs 300.0

In [2]:
# 7-3

In [6]:
def sales_tax(total_sales):
    county_sales_tax = total_sales*(2.5/100)
    state_tax_rate = total_sales*(5/100)
    total_sales_tax = county_sales_tax + state_tax_rate
    print(county_sales_tax)
    print(state_tax_rate)
    print(total_sales_tax)
total_sales = int(input('enter the total sales for the month'))
sales_tax(total_sales)

enter the total sales for the month 500000

12500.0
25000.0
37500.0

In [7]:
# 7-4

In [12]:
def feet_to_inch(feet):
    inch = feet*12
    return inch
feet = float(input('enter the number of feet'))
feet_to_inch(feet)

enter the number of feet 5

60.0

In [13]:
# 7-5

In [21]:
def max(num1,num2):
    if num1 > num2:
        return num1
    else:
        return num2
num1 = int(input('enter the 1st number'))
num2 = int(input('enter the 2nd number'))
max(num1,num2)

enter the 1st number 4
enter the 2nd number 5

5

In [21]:
# 7-6

In [22]:
def cal_average(s1,s2,s3,s4,s5):
    average_score = (s1+s2+s3+s4+s5)/5
    return average_score
def determine_grade(score):
    if 90 <= score >=100:
        return 'A'
    elif 80 <= score <=89:
        return 'B'
    elif 70 <= score <=79:
        return 'C'
    elif 60 <= score <=69:
        return 'D'
    else:
        return 'F'
s1 = int(input('enter 1st score: '))
s2 = int(input('enter 2nd score: '))
s3 = int(input('enter 3rd score: '))
s4 = int(input('enter 4th score: '))
s5 = int(input('enter 5th score: '))

determine_grade(score)
def main():
    print(f'{cal_average(s1,s2,s3,s4,s5)}')
    print(f'{determine_grade(cal_average(s1,s2,s3,s4,s5))}')
    print(f'{determine_grade(s1)}')
    print(f'{determine_grade(s2)}')
    print(f'{determine_grade(s3)}')
    print(f'{determine_grade(s4)}')
    print(f'{determine_grade(s5)}')
main()

enter 1st score:  99
enter 2nd score:  88
enter 3rd score:  77
enter 4th score:  66
enter 5th score:  55

77.0
C
F
B
C
D
F